//- index.pug
doctype html
html
  head
    title Thrift Books
    style
      include ../static/style.css
  body
    //- header
    div.container
        div.navbar
            div#logo
                img(src="/static/img/logo.jpg", alt="")
                a(href="/") Thrift Books

            nav#navbar
                ul   
                    li #[a(href="/books") Books] 
                    li #[a(href="/myStore") My Store]
                    li #[a(href="/myCart") My Cart]
                    li #[a(href="/wishlist") Wishlist]
                
                div#search
                    form(id="searchbar" action="/booksearched" method="GET")
                        input(type="text" id="booksrchd" placeholder="Search Book" value="" name="booksearched")
                        //- input(type="button" value="Submit" onclick="mysearch();")
                        Button(type="submit" ) &#128269;
            
            if seller == ""
                a(href="/login", class="btnredlog",id="loginbtn") Login
        
        
    section#introSection
        div.big Thrift Books
        div.small Buy books at cheap prices!
        a(href="/books", class="btnred") Explore

    section#recentlyAdded
        div.recentlyAddedAlign
            h2 ⋆˚⟡˖ Recently added ⋆˚⟡˖
            div.row-rec
                each book in allbooks.reverse()
                    div.col-rec
                        a(id=book.id onclick='myJavaScriptFunction(id);')
                            img(src=`${book.bimg}`)
                            p #{book.book}
                            p Rs. #{book.price}

    section#shopByCat
        div.shopByCatAlign
            h2 ⁠✧⁠*⁠。Shop by category ⁠✧⁠*⁠。
            div.row-catg
                div.col-catg
                    a(href="/booksbycat?cat=Fiction")
                        img(src="/static/img/lf6.jpg")
                        h3 Literature and Fiction
                div.col-catg
                    a(href="/booksbycat?cat=Biography")
                        img(src="/static/img/b2.jpg")
                        h3 Biography
                div.col-catg
                    a(href="/booksbycat?cat=Self Help")
                        img(src="/static/img/sh2.jpg")
                        h3 Self-Help Books
                div.col-catg
                    a(href="/booksbycat?cat=Academics")
                        img(src="/static/img/a1.jpg")
                        h3 Academics
    br
    br
    div.container2
        div.row
            div.col1
                img(src="/static/img/mi1.jpg", alt="img")
            div.col2
                h1 Have Books You<br>Want To Sell?<br>SELL HERE!
                h2 Sign Up And Open Your Store<br>Sell Your Books And Earn Money! 
                if seller == ""
                    a(href="/register", class="btngreen") SIGN UP
                else 
                    h2 ✨Woohoo!✨
            
    
    footer#footer
        div#container-f
            div#row1-f 
                div#col1-f 
                    h2 About Us 
                    p Want to read more and more books but find it expensive? Well, we're here for your rescue! Thrift Books and feed the bookworm in you. You can also sell your used books here and help other readers like you. Thrifting books is good for you and the environment and that's all we want. Happy Books to you.

                div#col2-f 
                    h3 Follow Us 
                    h4 Instagram 
                    h4 Twitter
                    h4 Facebook 
                
                div#col3-f 
                    h3 Contact Us 
                    h4 Thrift-Books.com 
                    h4 #1218,
                    h4 Sector-15, Chandigarh,
                    h4 Punjab -131001
                    h4 P:+91-9050111218
                    h4 E-mail:contact@gmail.com

            div#row2-f 
                div#cprt
                    |   Copyright Ⓒ 2024 Thrift-Books.com | All rights reserved
    
    script.
        
        function myJavaScriptFunction(bookid){
            //- console.log(bookid);
            var booklink = document.getElementById(bookid);
            booklink.href = "/eachbook?id="+ bookid;
        }

        function mysearch(){
            var bookname = document.getElementById(booksrchd).value;
            //- booklink.href = "/eachbook?id="+ bookid;
            console.log(bookname);
        }
        