@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.container{
    max-width: 100%;
    position: sticky;
    top: 0px;
    background: #dec9a6;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}

#logo{
    display: flex;
    color: black;
    /* align-items: center;
    margin: 0px 14px; */
    font-size: 25px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#logo img{
    width: 100px;
}
#logo a{
    color: #655316;
    font-family: none;
    font-weight: bold;
    unicode-bidi: isolate;
}
#navbar{
    flex: 1;
    text-align: center;
    
}

#navbar ul{
    display: flex;  
    flex-direction: row;
    justify-content: center;

}

#navbar ul li{
    list-style: none;
}

#navbar li a{
    color: black;
    font-size: 17px;
    text-decoration: none;
    padding: 7px 3px;
    margin: 15px;
}

#navbar li a:hover{
    color: gray;
    
}


.btnredlog{
    display: inline-block;
    background: #8e103a;
    color: white;
    padding: 8px 30px;
    /* margin: 30px 0; */
    border-radius: 20px;
    text-decoration: none;
}

.btnredlog:hover{
    background-color: #e61433;
}

/* #search{
    padding: 20px;
} */
#searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#search input{
    width: 40%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
#search Button{
    padding: 4px;
}
#recentlyAdded{
    margin-top: 60px;
    padding: 0 50px;
    /* height: 360px; */
}

.recentlyAddedAlign{
    display: flex;
    flex-direction: column;

}
#recentlyAdded h2{
    display: flex;
    justify-content: center;
   
}
.row-rec{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* margin-top: 40px; */
}
.col-rec{
    display: flex;
    flex-basis: 10%;
    min-width: 10%;
    max-width: 10%;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    margin: 40px;
    

}

.col-rec img{
    width: 100%;
    height: 200px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}


footer{
    color: #553417;
    background-color: #dec9a6;

}

#container-f{
    display: flex;
    flex-direction: column;
    padding: 100px;
}

#row1-f{
    display: flex;
    justify-content: center;
    align-items: center;
}

#col1-f{
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    text-align: justify;
}
#col2-f{
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    justify-content: center;
}
#col3-f{
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
}

#row2-f{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

